---
## Kernel Style Formatting (http://clang.llvm.org/docs/ClangFormatStyleOptions.html)
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: true
BasedOnStyle: LLVM
BreakBeforeBraces: Linux
ColumnLimit: 80
DerivePointerAlignment: false
IndentWidth: 8
Language: Cpp
PointerAlignment: Right
ReflowComments: true
SortIncludes: false
UseTab: Always
ContinuationIndentWidth: 8
AlignConsecutiveMacros: true
# Typical macros are expressions and require a semi-colon to be added;
# sometimes this is not the case, and this allows to make clang-format aware of
# such cases.
StatementMacros:
  - OPT
