### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib
*.lai

# EFI
*.efi

# Executables
bg_printenv
bg_setenv

# Test results
tools/tests/test_partitions
tools/tests/test_environment
tools/tests/test_api
tools/tests/*.log
tools/tests/*.trs

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

### Autotools ###
# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap
.dirstamp

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/build-aux
/compile
/config.guess
/config.h
/config.h.in*
/config.log
/config.status
/config.sub
/configure
/configure~
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
/Makefile
/tools/tests/Makefile
.deps/
m4/libtool.m4
m4/lt*
version.h
libtool
.libs

# Test binaries
test_bgenv_init_retval
test_ebgenv_api
test_ebgenv_api_internal
test_probe_config_file
test_probe_config_partitions

### Python ###
__pycache__
*.pyc

### Completion ###
completion/bash
completion/zsh
